.icon-add {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    color: var(--color-secondary); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-primary);
    padding: 20px 10px;
}

.task-form:focus-within {
    border-color: var(--color-primary);
}

.title-content {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    padding: 5px;
}

.description-content {
    font-weight: var(--font-weight-regular);
    font-size: 13px;
    padding: 5px;
}

.title-content,
.description-content {
    border: none;
    outline: none;
}

.wrap-btn,
.btn-add,
.btn-cancel {
    font-weight: var(--font-weight-medium);
}

.wrap-btn {
    justify-content: end;
    display: inline-flex;
    padding: 10px;
}