/* Hide the default checkbox */
.hidden-checkbox {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-background-primary);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Checkmark styles */
.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid var(--color-background-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Show checkmark when checkbox is checked */
.hidden-checkbox:checked+.custom-checkbox::after,
.custom-checkbox:hover::after {
    display: block;
}