.btn {
    display: inline-flex;
    cursor: pointer;
    border: none;
}

.btn-open-form {
    background-color: var(--color-white);
    border: none;
    padding: none;
    padding: 0;
}

.btn-open-form:hover {
    color: var(--color-secondary);
}

.btn-open-form:hover .icon-add {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.btn-add-disabled {
    background-color: var(--color-disnable);
}

.btn-add {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    width: 90px;
    margin-left: 20px;
    justify-content: center;
}

.btn-add:hover {
    background-color: var(--color-danger);
}

.btn-cancel {
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    width: 70px;
    background-color: var(--color-border-primary);
    color: var(--color-primary);
}

.btn-cancel:hover {
    background-color: var(--color-light-grey);
    color: #444;
}

.btn-edit-task {
    background-color: var(--color-white);
    border-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    height: 28px;
    width: 35px;
    text-align: center;
    color: transparent;
    margin-left: 500px;
}

.btn-edit-task:hover {
    background-color: var(--color-border-primary);
    border-radius: var(--border-radius-sm);
    transition-delay: 0.12s;
}

.btn-remove-task {
    display: none;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.task-item .btn-remove-task {
    display: block;
}

.task-item .btn-remove-task:hover {
    background-color: darkred;
}