/* src/components/common/btn/index.css */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.btnOpenForm {
    background-color: #ffffff;
    border: #ffffff;
}

.btnOpenForm:hover {
    color: #dc4c3e;
    background-color: #ffffff;
}

.btnOpenForm:hover .iconAdd {
    background-color: #dc4c3e;
    color: #ffffff;
}

.btnAddDisabled {
    background-color: #eda59e;
}

.btnAdd {
    background-color: #dc4c3e;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;
}

.btnAdd:hover {
    background-color: #c3392c;
}

.btnCancel {
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    width: 70px;
    background-color: #e9e5e5b9;
    color: #444;
}

.btnCancel:hover {
    background-color: #dbd7d7;
}