/* Style the container */
.task-item {
    margin-bottom: 10px;
    width: 100%;
    max-width: 700px;
    display: flex;
}

.title-task {
    color: #202020;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
}

.description-task {
    color: var(--color-primary);
    font-size: 13px;
}

.task-column-left {
    display: flex;
}

.wrap-content-task {
    margin-left: 15px;
}

.wrap-input-title {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    padding: 5px;
}

.custom-checkbox {
    cursor: pointer;
}

