/* Style the container */
.task-item {
    padding-bottom: 20px;
    width: 100%;
    max-width: 700px  !important;
    display: flex;
    border-bottom: 1px solid var(--color-light-grey);
    margin-bottom: 10px;
    justify-content: space-between;
}

.column-task {
    display: flex;
    gap: 15px;
    max-width: 700px;
    width: 100%;
}

.task-item:hover .btn-edit-task {
    color: var(--color-primary);
}

.title-task {
    color: #202020;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
}

.description-task {
    color: var(--color-primary);
    font-size: 13px;
}

.task-column-left {
    display: flex;
}

.wrap-input-title {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    padding: 5px;
}

.custom-checkbox {
    cursor: pointer;
}