.task-counter {
   display: flex;
   max-width: 60px;
   justify-content: space-between;
   color: var(--color-primary);
   font-weight: var(--font-weight-regular);
   font-size: var(--font-size-sm);
   align-items: center;
}