.App {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-weight: var(--font-weight-bold);
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 10px;
}

.task-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-color: var(--color-border-primary);
    border-radius: 10px;
}